@model IEnumerable<Discipline>
<div class="text-center">
    <h1 class="display-4">Disciplines</h1>
    <div>
        <a class="btn btn-info mb-3" asp-action="Create">Create New Discipline</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Annotation)</th>
                <th>@Html.DisplayNameFor(model => model.Teacher)</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discipline in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => discipline.Title)</td>
                    <td>@Html.DisplayFor(_ => discipline.Annotation)</td>
                    <td>@Html.DisplayFor(_ => discipline.Teacher.Name)</td>
                    <td><a asp-action="Edit" asp-route-id="@discipline.Id">Edit</a></td>
                    <td><a  asp-action="Delete" asp-route-id="@discipline.Id">Delete</a></td>
                </tr>

            }
        </tbody>
    </table>

</div>
